<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar direccion de recogida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="primary" size="medium" (click)="getID()">Agregar sector de recogida</ion-button>

  <form #f1="ngForm" *ngIf="activeForm" (ngSubmit)="onSubmit(f1)">
    

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Detalles de recogida</ion-label>
      </ion-list-header>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="person" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="text"
          name="res_name"
          ngModel
          #res_name="ngModel"
          placeholder="Nombre sector de recogida"
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!res_name.valid && res_name.touched">
        <p class="errorMsg">* Porfavor, Ingresa nombre</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-textarea
          type="text"
          name="description"
          ngModel
          #description="ngModel"
          placeholder="Descripcion">
        </ion-textarea>
      </ion-item>  

      <ion-item color="light" class="ion-margin-bottom">
        <ion-label>Hora de apertura</ion-label>
        <ion-datetime
          name="openTime"
          ngModel
          #openTime="ngModel"
          presentation="time"
          required>
        </ion-datetime>
      </ion-item>
      <ion-text color="danger" *ngIf="!openTime.valid && openTime.touched" class="ion-text-center">
        <p class="errorMsg">* Selecciona la hora de inicio de actividades.</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-label>Hora de cierre</ion-label>
        <ion-datetime
          name="closeTime"
          ngModel
          #closeTime="ngModel"
          presentation="time"
          required>
        </ion-datetime>
      </ion-item>
      <ion-text color="danger" *ngIf="!closeTime.valid && closeTime.touched" class="ion-text-center">
        <p class="errorMsg">* Selecciona la hora de cierre de actividades</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-label>Selecciona Ciudad</ion-label>
        <ion-select
          name="city"
          ngModel
          #city="ngModel"
          required>
          <ion-select-option *ngFor="let city of cities" [value]="city.uid">{{city?.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="!city.valid && city.touched" class="ion-text-center">
        <p class="errorMsg">* Selecciona Ciudad.</p>
      </ion-text>

      <ion-item class="ion-margin-bottom">
        <ion-label>
          Direccion
          <p class="ion-text-wrap" *ngIf="location && location?.lat">{{location?.address}}</p>
        </ion-label>
        <ion-button color="primary" size="small" (click)="searchLocation()">Search</ion-button>
      </ion-item>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="cash-outline" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="number"
          name="price"
          ngModel
          #price="ngModel"
          placeholder="Precio base"
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!price.valid && price.touched">
        <p class="errorMsg">* Ingresa precio</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="time-outline" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="number"
          name="delivery_time"
          ngModel
          #delivery_time="ngModel"
          placeholder="Tiempo de entrega estimado"
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!delivery_time.valid && delivery_time.touched">
        <p class="errorMsg">* Porfavor, ingresa tiempo de entrega estimada</p>
      </ion-text>

      <ion-item>
        <h4>Imagen de portada</h4>
        <input type="file" (change)="preview($event)">
        <p>
          <img *ngIf="coverImage" [src]="coverImage">
        </p>
      </ion-item>

      <ion-item>
        <ion-input name="category" [(ngModel)]="category" placeholder="Enter New Category" type="text"></ion-input>
        <ion-toggle mode="md" color="success" name="isCuisine" [(ngModel)]="isCuisine"></ion-toggle>
      </ion-item>

      <ion-button type="button" size="small" (click)="addCategory()" color="primary">AGREGAR</ion-button>
      <ion-button type="button" size="small" (click)="clearCategory()" color="danger">LIMPIAR</ion-button>
      <p *ngIf="categories?.length > 0">Categories: {{getArrayAsString(categories)}}</p>      
      <p *ngIf="cuisines?.length > 0">Sectores: {{getArrayAsString(cuisines)}}</p>

    </ion-list>

    <ion-button 
      *ngIf="!isLoading" 
      [disabled]="!f1.valid"
      expand="block" 
      shape="round" 
      type="submit" 
      color="primary">
      Guardar
    </ion-button>

    <div class="ion-text-center" *ngIf="isLoading">
      <ion-button 
        shape="round" 
        color="primary" 
        [disabled]="!f1.valid">
        <ion-spinner name="circles"></ion-spinner>
      </ion-button>
    </div>
    
  </form>

</ion-content>

